<td class="select">
  <input class="taskcheck" type="checkbox" />
</td><td>
{{#if thumb}}
<a href="#id/{{_id}}">
<img height="120px" width="160px" class="thumbnail" src="_rewrite/api/{{_id}}/{{thumb}}">
</a>
{{/if}}
</td>
<td class="description">
<a href="#id/{{_id}}">
<h3>{{name}}</h3>
</a>
<br> by <a class="label" href="#author/{{author}}">{{author}}</a>
<br>
Tags:<br>
  {{#each tags}}
    <a class="label label-info " href="#tag/{{uc this}}/incomplete">{{this}}</a>
  {{/each}}
<td>
{{short}}<br>
{{#if url}}<a target="new" href="{{url}}">({{url}})</a>{{/if}}
</td>
<td><a href="/_utils/document.html?stl/{{_id}}">(futon)</a></td>
